.header {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  border-bottom: 1.5px solid rgba(44, 44, 44, 0.4);
  background-color: white;
}

.iconImageContents {
  display: flex;
  height: 100%;
  align-items: center;
}

/* fontAwsomeの大きさを直接指定 */
.menuBar {
  height: 30px;
  width: 30px;
  opacity: 0.6;
}

.menuBar:hover {
  color: #66bea5;
  transition: 0.1s;
}

/* メニューバーをボタンで覆い、onClickイベントを反応させる */
.menuBarButton {
  padding: 0;
  margin: 30px;
  border: none;
  /* background-color: red; */
  background-color: white;
}

.menuBarContents {
  display: flex;
  justify-content: center;
}

.userIcon {
  height: 50px;
  width: 50px;
  opacity: 0.7;
}

.userIconContents {
  margin-left: auto;
  margin-right: 30px;
}

.header p {
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .iconImageContents > img {
    height: 70px;
    width: 130px;
  }
  .menuBar {
    height: 25px;
    width: 25px;
  }

  .userIcon {
    height: 43px;
    width: 43px;
  }

  .userIconContents {
    margin-right: 15px;
  }
}
