.homeBody {
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  margin: 0;
  display: flex;
  height: 80%;
  width: 100%;
}

.falseMenuBarArea {
  /* position: fixed; */
  position: absolute;
  z-index: 999;
  top: 50;
  left: 0;
  width: 50px;
  height: 86vh;
  background-color: #468170;
  border-left: 24px solid #468170;
  overflow-x: hidden;
  margin: 0;
  transition: width 0.2s ease-in-out;
}

.trueMenuBarArea {
  position: absolute;
  /* position: fixed; */
  left: 0;
  z-index: 999;
  width: 300px;
  height: 86vh;
  background-color: #74c29c;
  border-left: 24px solid #74c29c;
  margin: 0;
  transition: width 0.2s ease-in-out;
  overflow-x: hidden;
  margin: 0;
}

.treeListArea {
  flex: 70%;
  background-color: white;
  height: 100%;
}

.treeListArea {
  /* margin-left: 74px; */
  margin: 50px 100px 0px 200px;
}

.treeDetail {
  flex: 30%;
  background-color: rgba(139, 134, 134, 0.525);
  height: 100%;
  border-radius: 3px;
  /* border-left: 1.5px solid rgba(44, 44, 44, 0.4); */
}
