.homeBody {
  width: 100%;
  height: 100vh;
}

.main {
  margin: 0;
  display: flex;
  /* background-color: blue; */
  height: 74vh;
}

.falseMenuBarArea {
  position: fixed;
  left: 0;
  width: 50px;
  height: 74vh;
  background-color: #468170;
  border-left: 24px solid #468170;
  overflow-x: hidden;
  margin: 0;
  transition: width 0.3s ease-in-out;
}

.trueMenuBarArea {
  position: fixed;
  left: 0;
  width: 300px;
  height: 74vh;
  background-color: #74c29c;
  border-left: 24px solid #74c29c;
  margin: 0;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  margin: 0;
}

.treeListArea {
  flex: 70%;
  background-color: white;
}

.firstInputArea {
  flex: 30%;
  background-color: blueviolet;
}

.treeListArea {
  margin-left: 74px;
}
