.inputArea {
  min-height: 400px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
}

.firstInputArea {
  margin-bottom: 50px;
}

.input {
  margin-bottom: 50px;
}

.treeOutputArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.treeArea ul li p {
  font-size: 20px;
}
.featureList {
  display: flex;
  flex-direction: column;
}
.addListButton {
  display: flex;
  justify-content: center;
}
.addListButton button {
  margin-bottom: 50px;
}
