.productNameText {
  font-size: 40px;
  text-align: center;
  color: white;
}
.ul {
  list-style: none;
  color: white;
}

.featureContent {
  border-bottom: dashed 1px black;
}

.noSelectText {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
