.main {
  height: 86vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.falseMenuBarArea {
  position: absolute;
  z-index: 999;
  left: 0;
  width: 50px;
  height: 86vh;
  background-color: #468170;
  border-left: 24px solid #468170;
  overflow-x: hidden;
  margin: 0;
  transition: width 0.2s ease-in-out;
}

.trueMenuBarArea {
  position: absolute;
  left: 0;
  z-index: 999;
  width: 300px;
  height: 86vh;
  background-color: #74c29c;
  border-left: 24px solid #74c29c;
  margin: 0;
  transition: width 0.2s ease-in-out;
  overflow-x: hidden;
  margin: 0;
}

.ul {
  list-style: none;
  padding: 0;
}

.createTreeBody {
  display: flex;
  height: 100%;
  width: 100vw;
}

.inputArea {
  height: 100%;
  width: 100%;
  background-color: #757d755a;
  display: flex;
  justify-content: space-around;
}

.firstInputArea {
  margin-bottom: 50px;
}

.inputFeature {
  margin-bottom: 50px;
}

.selectItem {
  margin-bottom: 10px;
}

/* inputタグ全般デザイン */
.input {
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

/* buttonデザイン */
.button {
  padding: 5px 7px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.button:hover {
  background-color: #74c29c;
  color: rgba(255, 255, 255, 0.753);
}

.treeOutputArea {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productNameText {
  font-size: 20px;
  color: white;
  list-style: none;
}

.isOpenArrow {
  font-size: 3vmin;
  color: white;
}

.featureListContents {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.featureListRightContents {
  margin-left: auto;
  margin-right: 10px;
}

.featureText {
  min-width: 150px;
  font-size: 3vmin;
  margin-left: 20px;
  /* margin: 0; */
}

.techListContents {
  width: 100%;
  display: flex;
  align-items: center;
}

.techListContents::-webkit-scrollbar {
  display: none;
}

.techListRightContents {
  margin-left: auto;
}

.techText {
  min-width: 150px;
  font-size: 2vmin;
}

.listText {
  margin-bottom: 40px;
}

.listText button {
  margin-left: 10px;
}

.addListButton {
  display: flex;
  justify-content: center;
}

.isOpenTrueContents {
  height: 120px;
  overflow: auto;
  transition: height 0.5s ease-in-out;
}

.isOpenFalseContents {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
